body {
  background-color: #333;
}

.invitation-card {
    position: relative;
    width: 600px;
    height: auto;
    overflow: hidden; /* Para que el video no se desborde */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  
  .background-video {
    position: absolute;
    top: 50%; /* Centra el video verticalmente */
    left: 50%; /* Centra el video horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro */
    width: 100%;
    height: 100% !important;
    object-fit: fill; /* Para que el video cubra todo el fondo */
    z-index: -1;
  }

  h1 {
    font-size: 5vh;
  }

  .nombres {
    font-size: 8vh;
  }

  .imagenAnillos {
    width: 30vh;
  }

  .fechaHoraTexto {
    font-size: 2.5vh;
  }

  .dateTexto {
    font-size: 8vh;
  }
  
  .content {
    position: relative; /* Importante para que el contenido esté encima del video */
    text-align: center;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px; /* Ajusta según lo que necesites */
  }
  
  .confirm-button {
    margin-top: 2vh;
    padding: 10px 20px;
    color: #781313;
    border: 1px solid #781313;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .modal-content input{
      border: 1px solid rgba(0,0,0,0.2);
      padding: 10px;
      border-radius: 5px;
  }
  .modal-content label{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
  }
  
  .modal-content button{
   padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .modal-content button:hover{
   background-color: #45a049;
  }

  .paymentButton:hover {
    outline: none !important;
  }

  .paymentButton {
    outline: none !important;
    margin-top: 2vh;
  }

  .confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .popup-content h2 {
    font-family: 'Parisienne', cursive;
    color: #781313;
  }
  
  .popup-content p {
    font-family: 'Cormorant Garamond', serif;
    color: #781313;
  }
  
  .popup-content button {
    background-color: #781313;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .popup-content button:hover {
    background-color: #9f7a3d;
  }
  

  @media(max-width: 600px) {
    .invitation-card {
      margin: 0px;
      width: 90vw;
    }
  }